/* Home Page Styles */
.home-container {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
  height:100%;
}

.hero-section {
  background-color: #343a40;
  color: #f8f9fa;
  /* padding: 1rem; */
  border-radius: 8px;
  text-align: center;
  /* margin-bottom: 1rem; */
}

.hero-section h1 {
  font-size: 2.5rem;
  /* margin-bottom: 1rem; */
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.shop-now-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.shop-now-button:hover {
  background-color: #0056b3;
}

.featured-products {
  margin-top: 1rem;
}

.featured-products h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #757575;
}

/* Carousel Styles */
.carousel-container {
  position: relative;
  margin: 0 auto 50px auto; 
  overflow: hidden;
  width: 100%;
  max-width:800px; 
}

.carousel {
  position: relative;
  width: 100%;
  height: 46vh; /* Height based on viewport height */
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: opacity 1s ease-in-out; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-title {
  position: absolute;
  bottom: 10px;
  left: 40%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

/* Responsive Styles for Carousel */
@media (max-width: 1201px) {
  .carousel-title {
    font-size: 1.5rem;
    padding: 6px 8px;
  }

  .carousel {
    height: 40vh; /* Adjusted height for larger screens */
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 40vh; /* Adjusted height for tablets */
  }

  .carousel-title {
    font-size: 1.5rem;
    padding: 5px 10px;
  }
}

@media (max-width: 576px) {
  .carousel {
    height: 40vh; /* Adjusted height for mobile screens */
  }

  .carousel-title {
    font-size: 1.2rem;
    padding: 4px 8px;
  }
}

/* Product Card Styles */
.product-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  width: 300px; /* Adjust as needed */
  margin: 1rem;
  text-align: center;
}

.product-card img {
  width: 80%;
  height:200px; /* Adjust as needed */
  object-fit: contain; /* Ensures the image covers the container without distortion */
}

.product-details {
  padding: 1rem;
}

.product-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 1rem;
  color: #757575;
  margin-bottom: 1rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 1.25rem;
  color: #333333;
}

.view-details-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.view-details-button:hover {
  background-color: #0056b3;
}
